<footer>
  <div class="social-media">
    <img src="/assets/twitter.svg" alt="Logotipo" class="grupo1" />
    <img src="/assets/facebook.svg" alt="Logotipo" class="grupo1" />
    <img src="/assets/instagram.svg" alt="Logotipo" class="grupo1" />
    <img src="/assets/youtube.svg" alt="Logotipo" class="grupo1" />
  </div>
  <div class="derechos">
    <p class="Derechos">&copy; MiEcommerce. Todos los derechos reservados</p>
  </div>
  <div class="tiendas">
    <img src="/assets/Apple.svg" alt="Logotipo" class="grupo2" />
    <p class="TextoFooter">App Store</p>
    <img src="/assets/Google-play.svg" alt="Logotipo" class="grupo2" />
    <p class="TextoFooter">Google Play</p>
  </div>
</footer>
