<header>
  <!-- logo -->
  <img id="logoEcommerce" src="/assets/MiEcommerce.svg" alt="logo" />
  <!-- search bar -->
  <form class="search" action="#">
    <input type="text" placeholder="Buscar productos..." name="search" />
    <button type="button" class="magnifying">
      <i class="fas fa-search"></i>
    </button>
  </form>
  <!-- cart button -->
  <button type="button" class="cartButton">
    <i class="fas fa-shopping-cart"></i>
  </button>
  <!-- button olivia -->
  <button type="button" class="buttons">
    <div class="buttonElements">
      <div>
        <img class="profilePic" src="/assets/ProfilePic.png" alt="Olivia" />
      </div>
      <div class="alignname"><p>Olivia</p></div>
    </div>
  </button>
</header>
