<div class="menu">
  <ul>
    <li><i class="fas fa-laptop ico"></i> Electronica</li>
    <li><i class="fas fa-hamburger ico"></i>Alimentos</li>
    <li><i class="fas fa-beer ico"></i>Bebidas</li>
    <li><i class="fas fa-tshirt ico"></i>Indumentaria</li>
    <li><i class="fas fa-gamepad ico"></i>Juegos</li>
    <li><i class="fas fa-car ico"></i>Automotor</li>
    <li><i class="fas fa-couch ico"></i>Hogar</li>
    <li class="e-li"><i class="fas fa-gift ico"></i>Otros</li>
  </ul>
</div>
