<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer-abajo.css" />
    <link rel="stylesheet" href="/css/checkout.css" />
    <script
      src="https://kit.fontawesome.com/4070a3aa63.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/home.css" />
    <title>Página no encontrada</title>
  </head>
  <body>
    <%- include("../partials/header")%>
    <main>
      <!-- Mensaje error -->
      <div>
        <p class="bigWord">Vaya</p>
        <br />
        <p class="sorrymsg">No hemos podido encontrar la pagina que buscas.</p>
        <br />
        <p class="code">Código de error: 501 not implemented</p>
        <br />
        <p class="msg">
          Aqui tienes algunos enlaces que pueden servirte de ayuda:
        </p>
        <ol>
          <li><a href="/">Inicio</a></li>
          <li><a href="/products">Último artículo visitado</a></li>
          <li><a href="/cart">Carrito</a></li>
        </ol>
      </div>
      <div class="container">
        <img id="error" src="/assets/error501.jpg" alt="Error 404" />
      </div>
    </main>
    <%- include("../partials/footer")%>
  </body>
</html>
