<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <script
      src="https://kit.fontawesome.com/4070a3aa63.js"
      crossorigin="anonymous"
    ></script>
    <title>home</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />

    <title>Document</title>
  </head>

  <body>
    <%- include("../partials/header")%>
    <!-- Menu -->
    <%- include("../partials/menu")%>

    <main>
      <!-- Anuncios -->
      <div class="anuncios-container">
        <div class="anuncios-container-televisoras">
          <div class="televisoras-container disney">
            <div class="container-info">
              <div class="logo">
                <img src="/assets/disneybrand.png" class="brand" alt="" />
              </div>
              <div class="info-container">
                <p class="text-info-bold">50% OFF en Combo Plus</p>
                <p class="text-info">Canjeando 50.000 puntos</p>
                <p class="text-info">MiEcommerce</p>
              </div>
            </div>
          </div>
          <div class="televisoras-container hbo">
            <div class="container-info">
              <div class="logo">
                <img src="/assets/hbobrand.png" class="brand" alt="" />
              </div>
              <div class="info-container">
                <p class="text-info-bold">50% OFF en HBO Max</p>
                <p class="text-info">Canjeando 50.000 puntos</p>
                <p class="text-info">MiEcommerce</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Productos -->
      <div class="contenedor-productos">
        <h3 class="titulo1">Te puede interesar</h3>
        <div class="contenedor-producto">
          <a style="text-decoration: none" href="/products">
            <img
              src="/assets/images (2).jpeg"
              alt="whiskey jack"
              class="producto-img"
            />
            <div class="etiqueta">
              <p class="nombre">Whiskey Jack Daniels Honey 750ml</p>
              <div class="contenedor-puntos">
                <p class="puntos">19.900</p>
                <p class="leyenda">PUNTOS</p>
              </div>
            </div>
          </a>
        </div>

        <div class="contenedor-producto">
          <img
            src="/assets/images (2).jpeg"
            alt="whiskey jack"
            class="producto-img"
          />
          <div class="etiqueta">
            <p class="nombre">NOMBRE DEL PRODUCTO O SERVICIO</p>
            <div class="contenedor-puntos">
              <p class="puntos">XX.XXX</p>
              <p class="leyenda">PUNTOS</p>
            </div>
          </div>
        </div>

        <div class="contenedor-producto">
          <img
            src="/assets/images (2).jpeg"
            alt="whiskey jack"
            class="producto-img"
          />
          <div class="etiqueta">
            <p class="nombre">NOMBRE DEL PRODUCTO O SERVICIO</p>
            <div class="contenedor-puntos">
              <p class="puntos">XX.XXX</p>
              <p class="leyenda">PUNTOS</p>
            </div>
          </div>
        </div>

        <div class="contenedor-producto">
          <img
            src="/assets/images (2).jpeg"
            alt="whiskey jack"
            class="producto-img"
          />
          <div class="etiqueta">
            <p class="nombre">NOMBRE DEL PRODUCTO O SERVICIO</p>
            <div class="contenedor-puntos">
              <p class="puntos">XX.XXX</p>
              <p class="leyenda">PUNTOS</p>
            </div>
          </div>
        </div>
      </div>

      <div class="contenedor-productos">
        <!-- Segundo contenedor de productos -->
        <h3 class="titulo2">Los más pedidos</h3>
        <div class="contenedor-producto">
          <img
            src="/assets/images (1).jpeg"
            alt="whiskey jack"
            class="producto-img"
          />
          <div class="etiqueta">
            <p class="nombre">Coca Cola Lata 220mL Pack Original x8</p>
            <div class="contenedor-puntos">
              <p class="puntos">720</p>
              <p class="leyenda">PUNTOS</p>
            </div>
          </div>
        </div>

        <div class="contenedor-producto">
          <img
            src="/assets/images (1).jpeg"
            alt="whiskey jack"
            class="producto-img"
          />
          <div class="etiqueta">
            <p class="nombre">NOMBRE DEL PRODUCTO O SERVICIO</p>
            <div class="contenedor-puntos">
              <p class="puntos">XX.XXX</p>
              <p class="leyenda">PUNTOS</p>
            </div>
          </div>
        </div>

        <div class="contenedor-producto">
          <img
            src="/assets/images (1).jpeg"
            alt="whiskey jack"
            class="producto-img"
          />
          <div class="etiqueta">
            <p class="nombre">NOMBRE DEL PRODUCTO O SERVICIO</p>
            <div class="contenedor-puntos">
              <p class="puntos">XX.XXX</p>
              <p class="leyenda">PUNTOS</p>
            </div>
          </div>
        </div>

        <div class="contenedor-producto">
          <img
            src="/assets/images (1).jpeg"
            alt="whiskey jack"
            class="producto-img"
          />
          <div class="etiqueta">
            <p class="nombre">NOMBRE DEL PRODUCTO O SERVICIO</p>
            <div class="contenedor-puntos">
              <p class="puntos">XX.XXX</p>
              <p class="leyenda">PUNTOS</p>
            </div>
          </div>
        </div>

        <div class="contenedor-producto">
          <img
            src="/assets/images (1).jpeg"
            alt="whiskey jack"
            class="producto-img"
          />
          <div class="etiqueta">
            <p class="nombre">Whiskey Jack Daniels Honey 750ml</p>
            <div class="contenedor-puntos">
              <p class="puntos">19.900</p>
              <p class="leyenda">PUNTOS</p>
            </div>
          </div>
        </div>

        <div class="contenedor-producto">
          <img
            src="/assets/images (1).jpeg"
            alt="whiskey jack"
            class="producto-img"
          />
          <div class="etiqueta">
            <p class="nombre">NOMBRE DEL PRODUCTO O SERVICIO</p>
            <div class="contenedor-puntos">
              <p class="puntos">XX.XXX</p>
              <p class="leyenda">PUNTOS</p>
            </div>
          </div>
        </div>

        <div class="contenedor-producto">
          <img
            src="/assets/images (1).jpeg"
            alt="whiskey jack"
            class="producto-img"
          />
          <div class="etiqueta">
            <p class="nombre">NOMBRE DEL PRODUCTO O SERVICIO</p>
            <div class="contenedor-puntos">
              <p class="puntos">XX.XXX</p>
              <p class="leyenda">PUNTOS</p>
            </div>
          </div>
        </div>

        <div class="contenedor-producto">
          <img
            src="/assets/images (1).jpeg"
            alt="whiskey jack"
            class="producto-img"
          />
          <div class="etiqueta">
            <p class="nombre">NOMBRE DEL PRODUCTO O SERVICIO</p>
            <div class="contenedor-puntos">
              <p class="puntos">XX.XXX</p>
              <p class="leyenda">PUNTOS</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include("../partials/menu")%> <%- include("../partials/footer")%>
  </body>
</html>
