<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="/css/footer-abajo.css" />
    <title>Registro</title>
  </head>
  <body>
    <header class="header-container">
      <img src="/assets/MiEcommerce.png" alt="" class="logo" />
    </header>
    <main class="main-container">
      <div class="background-login-aqua">
        <div class="component-login">
          <div class="form">
            <p class="text-hola">¡Registrate!</p>
            <form action="/users/register" class="form-inputs" method="post">
              <input
                type="text"
                class="username-input"
                placeholder="Tu email"
                name="email"
              />
              <% if (locals.errors && errors.email) { %>
              <div class="text-danger" style="color: red">
                <%= errors.email.msg %>
              </div>
              <% } %>

              <input
                type="password"
                class="user-password"
                name="password"
                placeholder="Tu nueva contraseña"
              />
              <% if (locals.errors && errors.password) { %>
              <div class="text-dangerContraseña" style="color: red">
                <%= errors.password.msg %>
              </div>
              <% } %>

              <input
                type="password"
                class="user-password"
                placeholder="Repite tu contraseña"
                name="Repitepassword"
              />

              <% if (locals.errors && errors.Repitepassword) { %>
              <div class="text-dangerRContraseña" style="color: red">
                <%= errors.Repitepassword.msg %>
              </div>
              <% } %>
              <button class="button-register">Registrame</button>
            </form>
          </div>
          <div class="text-no-cuenta">
            <p class="tienes-cuenta">¿No tienes cuenta?</p>
            <a href="/users/login" class="text-login">Inicia Sesión</a>
          </div>
        </div>
      </div>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
